.mainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}

.topBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    height: 10vh;
    background-color: #252525;
    color: white;
}

.listCard{
    height: 20vw;
    width: 20vw;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 15px;
}

.topCard{
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.topButton{
    margin-right: 10vh;
    margin-left: 5vh;
}